.settings{
    width: 100%;
    height: 140vh;
    display: grid;
    place-items: center;
    font-family: 'Poppins';
}

.profilSettingsBackground{
    width: 700px;
    height: fit-content;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.profilSettingLabel{
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.32);
}

.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.32);
}
.userInfo{
    padding-top: 20px;
    padding-left: 60px;
    display: flex;
}

.userEditBtn{
    width: 80px;
    height: 30px;
    border-radius: 15px;
    opacity: 60%;
    border: none;
    outline: none;
    background-color:#8a71f5;
    cursor: pointer;
}
.selectCountry{
    width: 100px;
    height: 20px;
    background: rgba(255, 255, 255, 0.6);
    outline: none;
    border: 1px solid #8a71f5;
    color: black;
    font-family: 'Poppins';
    border-radius: 5px;
}
.userInputeEdit{
    background: none;
    border: none;
    outline: none;
    color: white;
    font-family: 'Poppins';
    border-bottom: 1px solid white;
}
.userConfirmBtn{
    margin-bottom: 20px;
}
.userImg{
    width: 120px;
    height: 120px;
    border-radius: 100%;
}
.userImg img{
    width: 80%;
    height: 80%;
    border-radius: 100%;
}
.userNP{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}
.userNP p:nth-child(2){
    opacity: 50%;
    font-size: 12px;
}

.personalInformation{
    padding-left: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.32);
}
.PersonalInfoLabel{
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.Persinfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
}
.Persinfo .info p:nth-child(1){
    opacity: 60%;
}
.Persinfo .info p:nth-child(2){
    font-size: 12px;
}